body {
    display: flex;
    min-height: 100vh;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}


.play-toggle {
    display: none;
}

.animation-scene {
    width: 100px; 
    height: 100px;
    position: absolute;
    border: 3px solid #686262;
    border-radius: 5%;
    background: rgb(215, 216, 196);
    overflow: hidden;
    transition: all 0.3s ease;
}

.animation-scene:hover {
    transform: scale(1.1);
}


.animation-scene:hover .head-hover {
    opacity: 1;
    z-index: 2;
    animation: head-rotation 1.2s ease-in-out infinite;
}

.animation-scene:hover .head-normal {
    opacity: 0;
}

.rabbit {
    position: absolute;
    transform: translateX(-50%);
    top: 3%;
    left: 60%;
    z-index: 2;
    width: 80%;
    height: auto;
}

.rabbit-body {
    position: absolute;
    width: 100%;
    height: auto;
}

.rabbit-head {
    position: absolute;
    top: 10%;
    width: 100%;
    height: auto;
    transition: all 0.7s ease;
}

.head-normal {
    opacity: 1;
}

.head-hover {
    opacity: 0;
}

.head-active {
    z-index: 2;
    opacity: 0;
}

.rabbit:hover .head-normal {
    opacity: 0;
}



#play-toggle:checked ~ .rabbit .head-normal,
#play-toggle:checked ~ .rabbit .head-hover {
    opacity: 0;
}

#play-toggle:checked ~ .rabbit .head-active {
    opacity: 1;
    transform: rotate(5deg) scale(1.1);
}

.tape-player {
    position: absolute;
    bottom: 0%;
    left: 22%;
    transform: translateX(-50%);
    z-index: 1;
    width: 35%;
}

.player-base {
    width: 100%;
    height: auto;
}

.reel {
    position: absolute;
    width: 62%;
    height: auto;
    top: -7%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.reel-left {
    left: -11%;
}

.reel-right {
    right: -11%;
}

.player-label {
    cursor: pointer;
    display: block;
    position: relative;
}

.tape-player:hover .reel-left:not(.spinning-left) {
    animation: hover-spin-clockwise 3s linear infinite;
}

.tape-player:hover .reel-right:not(.spinning-right) {
    animation: hover-spin-counterclockwise 3s linear infinite;
}

#play-toggle:checked ~ .tape-player .reel-left {
    animation: spin 1s linear infinite !important;
}

#play-toggle:checked ~ .tape-player .reel-right {
    animation: spin-reverse 1s linear infinite !important;
}

.message {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: rotate(-35deg);
    font-size: 4vh;
    opacity: 0;
    transition: all 0.1s ease;
    pointer-events: none;
    text-align: center;
    color: hsl(209, 60%, 21%);
    z-index: 3;
}

#play-toggle:checked ~ .message {
    opacity: 1;
    transform: translateX(-50%) rotate(-35deg);
}

.hint {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vh;
    size: 100%;
    opacity: 0;
    transition: all 0.1s ease;
    pointer-events: none;
    text-align: center;
    color:hsl(209, 60%, 21%);
    z-index: 2;
}

.rabbit:hover ~ .hint {
    opacity: 1;
}

#play-toggle:checked ~ .hint {
    opacity: 0 !important;
}

.orbiting-ball {
    position: absolute;
    width: 14%;
    height: 12%;
    background: conic-gradient(from 0deg, #ff00cc, #00ccff, #ff00cc);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.3s ease;
    top: 14%;
}

#play-toggle:checked ~ .tape-player .orbiting-ball {
    transition-delay: 0.4s;
    opacity: 1;
    animation: orbit-switch 2.5s linear infinite;
}

@keyframes head-rotation {
  0%, 100% { transform: rotate(-7deg) scale(1.15); } 
  50% { transform: rotate(7deg) translateY(2%) scale(1.05); } 
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes hover-spin-clockwise {
    from { transform: rotate(0deg) scale(1.02); }
    to { transform: rotate(360deg) scale(1.02); }
}

@keyframes hover-spin-counterclockwise {
    from { transform: rotate(0deg) scale(1.02); }
    to { transform: rotate(-360deg) scale(1.02); }
}

@keyframes orbit-switch {
    0% {
        left: 12%;
        transform: rotate(0deg) translateX(210%) rotate(-0deg);
    }
    15% {
        transform: rotate(90deg) translateX(210%) rotate(-90deg);
    }
    50% {
        left: 12%;
        transform: rotate(360deg) translateX(210%) rotate(-360deg);
    }
    
    50.001% {
        left: 70%;
        transform: rotate(360deg)translateX(-210%) rotate(-360deg);
    }
    65% {
        transform: rotate(270deg) translateX(-210%) rotate(-270deg);
    }
    100% {
        left: 70%;
        transform: rotate(0deg) translateX(-210%) rotate(0deg);
    }
}